// Color
$background: white;
$gray-dark: #1A1B1A;
$gray-light: #F5F5F5;
$primary-orange: #C9510D;
$primary-orange-light: #F77B0B;

// Corp Color
$red-kleiss: #A80C35;
$green-resilio: #52C78A;

// Spacing
$small-gap: 5px;
$medium-gap: 10px;
$large-gap: 20px;
$xlarge-gap: 40px;

$small-padding: 5px;
$medium-padding: 15px;
$large-padding: 25px;
$xlarge-padding: 50px;
$xxlarge-padding: 75px;