@import '../variables/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

// For Chrome & Safari
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  height: 100%;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $background;
}

h1 {
  font-family: 'Lexend', sans-serif;
  font-weight: 800;
  font-size: 50px;

  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

h2, h3 {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

a, p, ul, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $gray-dark;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    padding: $xlarge-padding $medium-padding;
    gap: $xlarge-gap;
  }

  button {
    background: $primary-orange-light;
    width: 70%;
    height: 30px;
    align-self: center;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    color: white;
  }
}

.orange-text {
    color: $primary-orange-light;
}
